@use "@/styles/variables" as vars;
@use '@/styles/breakpoints' as breakpts;
@use '@/styles/animations';

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: vars.$primary;
  background: linear-gradient(330deg, vars.$grey-light, vars.$white 30%);
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
  padding: 1rem 1rem 2rem 1rem;
  border: 2px solid vars.$white;
  border-radius: vars.$component-border-radius;
  margin: 1rem 0;

  @include breakpts.breakpoint-min(sm) {
    padding: 2rem;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  // Override default input styles when using autocomplete in Chrome
  // https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
  }
}

.textInput {
  width: 100%;
  background: transparent;
  border: none;
  background: vars.$grey-light;
  border: 1px solid vars.$white;
  border-radius: 50px;
  min-height: 35px;
  padding: 0.25rem 1.25rem 0.25rem 2.75rem;
  outline: 2px solid transparent;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  transition: outline 0.5s;

  &:focus {
    border: 2px solid vars.$secondary;
  }

  @include breakpts.breakpoint-min(sm) {
    min-height: 45px;
  }
}

.textArea {
  padding: 1rem 1.25rem;
  border-radius: 20px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    position: absolute;
    width: 1rem;
    height: 1rem;
    fill: vars.$primary;
    left: 1rem;
  }
}

.submitButton {
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  max-width: 150px;
  padding: 10px;
  background: vars.$primary;
  border: none;
  border-radius: 50px;
  color: vars.$white;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.4);

  &:hover,
  &:active {
    background-color: vars.$primary-dark;
    color: vars.$white;
    box-shadow: none;
    transform: translateY(2px);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
  }

  @include breakpts.breakpoint-min(sm) {
    margin-top: 2rem;
  }
}

.submitMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  animation: fadeIn 0.5s forwards;

  span {
    display: flex;
    align-items: center;
    padding: 2rem 3rem 2rem 2.5rem;
    border: 1px solid vars.$grey-light;
    border-radius: vars.$component-border-radius;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  }

  svg {
    width: 2rem;
    height: 2rem;
    color: vars.$primary;
    margin-right: 0.75rem;
    margin-top: -10px;
  }
}