@use '@/styles/_breakpoints.scss' as breakpts;
@use "@/styles/variables" as vars;
@use "@/styles/animations";

.mainNav {
position: relative;
width: 100%;
z-index: 1;
display: grid;
grid-template-rows: 1fr 1fr 1fr;
min-height: vars.$page-content-height;
opacity: 0;
animation: fadeIn 0.4s 0.3s forwards;

  &::after {
    content: "";
    background: linear-gradient(to right, vars.$primary-darkest 20%, vars.$grey-dark 60%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.6;
  }

  @include breakpts.breakpoint-min(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 1px solid rgba(0,0,0,0.3);
  outline-offset: -1.5rem;
  min-height: 380px;

  @include breakpts.breakpoint-min(lg) {
    box-shadow: -8px -40vh 0px 0px rgba(0, 0, 0, 0.8), 6px 25vh 0px 0px rgba(0, 0, 0, 0.4);
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.6;
  }
}

.panelHeading {
  font-family: "Amatic SC", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 4rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include breakpts.breakpoint-min(lg) {
    font-size: 5rem;
  }

  svg {
    width: auto;
    height: 3rem;
    fill: vars.$primary;
    color: vars.$primary;
    margin-bottom: -7px;
    transition: transform 0.2s ease, color 0.2s ease;

    @include breakpts.breakpoint-min(lg) {
      height: 4rem;
    }

    .panelLink:hover & {
      transform: translateX(10px);
      color: vars.$secondary;
    }
  }
}

.highlightedHeading {
  border-left: 5px solid vars.$primary;
  padding-left: 1rem !important;
  margin-left: 1.5rem;

  @include breakpts.breakpoint-min(xl) {
    margin-left: 3rem;
  }
}

.panelInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid vars.$primary-dark;

  @include breakpts.breakpoint-min(lg) {
    position: absolute;
    padding: 2rem 0;
    padding-top: 30vh;
    justify-content: start;
    border: none;
  }
}

.panelLink {
  &:hover::after {
    background: linear-gradient(to top, vars.$primary 30%, vars.$grey-dark);
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
  }
}

.welcomeText {
  line-height: 2rem;
  padding: 0 1rem;
}

.panelHeading,
.panelText {
  color: white;
  padding: 0 1.5rem;

  @include breakpts.breakpoint-min(xl) {
    padding: 0 3rem;
  }
}

.panelHeading,
.panelText,
.panelLink {
  z-index: 2;
  text-decoration: none;
}

.panelOne {
  &::after {
    opacity: 0.4;
    background-image: url('/images/welcome.png');
  }
}

.panelTwo {
  &::after {
    background-image: url('/images/experience.png');
  }
}

.panelThree {
  &::after {
    background-image: url('/images/interests.png');
  }
}
