@use '@/styles/variables' as vars;

.appFooter {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: vars.$black;
  bottom: 0;
  z-index: 2;
  color: vars.$white;
  padding: 1rem 2rem;
  min-height: vars.$footer-height;
  font-size: 0.9rem;
  border-top: 1px solid vars.$grey-dark;

  p {
    margin: 0;
  }
}

.linkList {
  display: flex;
  gap: 2rem;
  margin: 0;
  margin-left: auto;
  list-style: none;

  a {
    color: vars.$white;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: vars.$primary;
    }
  }
}

.socialIcon {
  fill: vars.$white;
  width: 1.25rem;
  height: 1.25rem;
  transition: fill 0.2s;

  &:hover {
    fill: vars.$primary;
  }
}