@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as *;

.appFooter {
  position: relative;
  display: flex;
  gap: 0.5rem;
  background: $black;
  bottom: 0;
  z-index: 2;
  color: $white;
  padding: 1rem 2rem;
  min-height: $footer-height;
  font-size: 0.8rem;
  border-top: 1px solid $grey-dark;
}

.linkList {
  display: flex;
  gap: 2rem;
  margin: 0;
  margin-left: auto;
  list-style: none;

  a {
    color: $white;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $primary;
    }
  }
}

.socialIcon {
  fill: $white;
  width: 1.25rem;
  height: 1.25rem;
  transition: fill 0.2s;

  &:hover {
    fill: $primary;
  }
}