// Dimensions
$header-height: 80px;
$header-border-height: 3px;
$footer-height: 60px;
$page-content-height: calc((100vh - 1px) - $header-height - $footer-height - $header-border-height);
$content-max-width: 1080px;

// Colours
$primary: #36b0b5;
$primary-dark: #0B5F62;
$primary-darkest: #084749;
$secondary: #7fdbff;
$tertiary: #4f201e;

$background-light: #F5F5F5;
$background-highlight: rgba(255,255,255,0.6);
$white: #fff;
$grey-light: #e5e5e5;
$grey-dark: #1d2121;
$black: #0c0b0b;

$component-border-radius: 5px;